<!-- <footer class="footer">
  <small>
    The <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    by <a href="http://www.michaelhartl.com/">Michael Hartl</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer> -->
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <%= link_to "Home", root_url %>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <%= link_to "About", about_path %>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <%= link_to "Contact",contact_path %>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; Indore Coins 2017. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>